<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hiren Shah - Code Sample</title>
</head>
<body>
<h2>Random Word Puzzle</h2>
<form action="#" th:action="@{/submitResult}" th:object="${wordResult}" method="post">
    <input id="word" name="word" type="text" th:value="${wordResult.word}" />
    <input id="result" name="result" type="text" th:value="${wordResult.result}" th:maxlength="${wordResult.wordLength}"/>
    <p><label th:text="${wordResult.message}" /></p>

    <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </p>
</form>
</body>
</html>